@import '~normalize.css';

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	justify-content: center;

	flex-direction: column;
	
	& > * {
		margin: 0;
		padding: 0;
	}

	.navigation {
		margin-top: .5rem;

		display: flex;
		flex-direction: row;
		justify-content: center;

		a {
			margin-right: 2rem;
			font-weight: bold;
		}
	}

	.content {
		flex: 1;
	}

	footer {
		font-size: .8rem;
	}

}
img {
	vertical-align: middle;
}
a {
	color: #0094ff;
	text-decoration: none;

	&:active {
	}

	&:hover, &:focus {
		color: #0068b3;
		text-decoration: underline;
	}

	&:visited {
		color: #b94a48;
	}
}

@media only screen and (min-width: 800px) {
	.container {
		min-height: 100vh;
		& > * {
			width: 700px;
			margin: auto;
		}

		footer {
			align-self: flex-end;
			text-align: center;
		}
	}
}
