<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.title }} - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="bF1TF07yTKIVq1ebBQJAswFroMJ6EaGl2BMDiO9lQGk" />
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	{% if jekyll.environment == "production" %}
	<link href="/dist/main.css" rel="stylesheet">
	{% endif %}
    </head>
    <body>
	    <div id="sitecontent" class="container">

		    <header>
			    <nav id="sitenav" class="navigation">
				    <a href="{{site.baseurl}}/index.html">Home</a>
				    <a href="{{site.baseurl}}/about.html">About</a>
				    <a href="{{site.baseurl}}/contact.html">Contact/Social</a>
			    </nav>
		    </header>

		    <section class="content">
			    {{ content }}
		    </section>

		    <footer id="sitefooter" class="footer">
			    Content &copy; {{ site.time | date: "%Y" }} {{ site.authorname }}. This site is built with <a href="https://github.com/mojombo/jekyll">Jekyll</a>
		    </footer>

	    </div>
{% if jekyll.environment == "development" %}
    <script src="main.js"></script>
{% endif %}
    </body>
</html>
